{
  "extends": [ "airbnb" ],
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"]  }],
    "arrow-body-style": 0,
    "no-console": 0,
    "newline-per-chained-call": ["error", { "ignoreChainWithDepth": 6 }],
  }
}
